img {
  display: block;
  max-width: 100%;
}
.gallery {
  list-style: none;
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
